<!DOCTYPE html>
<html lang="en" data-ng-app="skycalc">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A tool to quickly compare inbound shipping rates.">
    <meta name="author" content="Lasana Murray">
    <title>Skycalc: Skybox rate comparison tool.</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {margin-top: 60px;}
      .css-form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
      }
      .css-form input.ng-valid.ng-dirty {
        background-color: #78FA89;
      }
    </style>
  </head>
  <body data-ng-controller="Main">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h1>SkyCalc (Beta)</h1>
          <p>Import shipping comparison tool.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="well">
            <!-- Controls -->
            <form class="form-horizontal css-form">
              <div class="form-group">
                <label for="itemClass" class="control-label col-md-3">Class</label>
                <div class="col-md-6">
                  <select id="itemClass" class="form-control" data-ng-change="update()" ng-model="classSelected" data-ng-options="item.class for item in items | orderBy: 'class' " >
                  </select>
                </div>  
              </div>
              <div class="form-group">
                <label for="itemPrice" class="control-label col-md-3">Price</label>
                <div class="col-md-2"> 
                  <input id="itemPrice"  data-ng-change="update()" data-ng-model="classSelected.price" type="number" class="form-control" placeholder="0.00" data-ng-pattern="MONEY_PATTERN"> 
                </div> 
              </div>
              <div class="form-group">
                <label for="itemWeight" class="control-label col-md-3">Weight</label>
                <div class="col-md-2"> 
                  <input id="itemWeight"  data-ng-change="update()" data-ng-model="classSelected.weight"  type="number" class="form-control" placeholder="lbs" data-ng-pattern="METRIC_PATTERN"> 
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-md-3">Dimensions(mm)</label>
                <div class="col-md-2"> 
                  <input id="itemWidth"  data-ng-change="update()" data-ng-model="classSelected.width"  type="number" class="form-control" placeholder="x" data-ng-pattern="METRIC_PATTERN"> 
                </div>
                <div class="col-md-2"> 
                  <input id="itemLength"  data-ng-change="update()" data-ng-model="classSelected.length"  type="number" class="form-control" placeholder="y" data-ng-pattern="METRIC_PATTERN"> 
                </div>
                <div class="col-md-2"> 
                  <input id="itemHeight"   data-ng-change="update()" data-ng-model="classSelected.height"  type="number" class="form-control" placeholder="z" data-ng-pattern="METRIC_PATTERN"> 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div><!-- row -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-primary">
            <div class="panel-heading">{{classSelected.class}}</div>
            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <td><i class="glyphicon glyphicon-plane"></i></td>
                  <td>Duties</td>
                  <td>Tax</td>
                  <td>Fuel</td>
                  <td>Fee</td>
                  <td>Sum</td>

                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="entry in table | orderBy:'name'">
                  <td>{{entry.name}}</td>
                  <td>{{entry.duty.valueOf()}}</td>
                  <td>{{entry.tax.valueOf()}}</td>
                  <td>{{entry.fuel.valueOf()}}</td>
                  <td>{{entry.fee.valueOf()}}</td>
                  <td>{{entry.total.valueOf()}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <h4>Notes</h4>
            <ul>
              <li>All values are in USD</li>
              <li>Differences in calculations may be due to rounding.</li>
              <li>Skycalc does not include annual fees, signup fees, fuel, insurance etc. Check with the vendor on those.</li>
              <li>This is still in beta so it's not perfect (yet!). </li>
              <li>The fuel calculations are noticeably broken.</li>
                <li>It should be noted that this just gives you a rough estimate.</li>              
            </ul>
            </div>
        </div>
        </div>
      </div><!-- container -->

      <!-- JavaScript -->
      <!--   <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>-->
      <!--   <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>-->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
      <script src="/assets/js/index.js"></script>
      <script src="/assets/js/services.js"></script>
      <script src="/assets/js/directives.js"></script>
      <script src="/assets/js/lib/big.js"></script>
      <script src="/assets/js/lib/Vendor.js"></script>

      <!-- Services -->
      <script src="/assets/js/services/shared/Num.js"></script>
      <script src="/assets/js/services/shared/NumParser.js"></script>
      <script src="/assets/js/services/charges/FlatRate.js"></script>
      <script src="/assets/js/services/charges/PercentRate.js"></script>
      <script src="/assets/js/services/charges/RateProvider.js"></script>
      <script src="/assets/js/services/charges/Range.js"></script>
      <script src="/assets/js/services/charges/Aggregate.js"></script>
      <script src="/assets/js/services/shared/FieldProvider.js"></script>
      <script src="/assets/js/services/charges/ChargeProvider.js"></script>
      <script src="/assets/js/services/charges/Schedule.js"></script>
      <script src="/assets/js/services/charges/Processor.js"></script>

      <script src="/assets/js/controllers.js"></script>
    </body>
  </html>
